
#root {
  /* background-color: #27033a54; */
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.header-login{
  display: flex;
  justify-content: space-between;
}

.title-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo img{
  max-width: 50px;
  padding-right: 10px;
}
.nav{
  height: 50px;
}

.home-section{
  background-color:#27033a54;
  border-radius: 60px;
}

.home-section h1{
  padding: 50px;
}

.home-about{
  display: flex;
}

.home-about img{
  width: 600px;
  border-radius: 60px;
}